#os or program files
.DS store
.idea/*

#config files
/system/expressionengine/config/
!/system/expressionengine/config/config.php
!/system/expressionengine/config/database.php
admin/expressionengine/cache/*
